/* hall */

.body {
  background-position: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.buying__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
}

.buying__info-description {
  width: 260px;
}

.seance-start-time {
  margin-top: 12px;
  margin-bottom: 12px
}

.buying__info-hint {
  width: 67px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;

  position: relative;
}

.hint-img {
  position: absolute;

  top: 19px;
  bottom: 0;
  right: 0;
  left: -10px;
  width: 24px;
  height: 32px;
}

.buying-scheme {
  width: 100%;
  padding-top: 15px;
  background-color: #171D24;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buying-scheme__seats-wrapper {
  width: 284px;

  display: flex;
  flex-direction: column;
}

.screen {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}

#seats {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 3px;
}

.field {
  width: 19px;
  height: 19px;
  background-color: #FFFFFF;
  border: solid 1px #525252;
  border-radius: 4px;

  cursor: pointer;
}

.buying-scheme__legend {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.buying-scheme__legend_row {
  display: flex;
  flex-direction: row;
  padding: 0px;
  column-gap: 15px;
}

.buying-scheme__legend-price {
  color: #FFFFFF;

  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-bottom: 15px;
}

.chair {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 4px;
  border: solid 1px #525252;
}

.eg-chair {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 4px;
  border: solid 1px #525252;
  cursor: default;
}

.chair_normal {
  background-color: #FFFFFF;
}

.chair_vip {
  background-color: #F9953A;
}

.chair_occupied {
  background-color: #00000000;
  cursor: default;
}

.chair_selected {
  background-color: #25C4CE;
  box-shadow: 0px 0px 4px 0px #16A6AF;
}

.no-chair {
  background-color: #00000000;
  border: none;
  cursor: default;
}

.book {
  width: 232px;
  margin: 30px auto 30px auto;
}