html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  margin: 0;

  position: relative;
}

body {
  min-height: 844px;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 16px;

  background-image: url(../img/bg.jfif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #000000;
}

html:before {
  position: absolute;

  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000080;
  z-index: -1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 390px;
  min-height: 39px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;

  color: #FFFFFF;

  display: flex;
  flex-direction: column;
}

main {
  width: 390px;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  font-weight: 900;
  line-height: 39px;
  text-transform: uppercase;
}

.logo {
  margin-left: 14px;
}

.logo-V {
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
}

.logo-admin {

  font-size: 10px;
  line-height: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  line-height: 18px;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.heading-2 {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #63536C;
}

.btn {
  font-family: Roboto;

  height: 40px;
  margin-top: 22px;
  margin-bottom: 35px;
  padding: 12px 32px 12px 32px;
  background-color: #16A6AF;

  border: none;
  border-radius: 3px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);

  cursor: pointer;

  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

input,
select {
  padding: 9px;
  border: solid 1px #B7B7B7;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select {
  padding: 8px 36px 8px 12px;

  background-position: calc(100% - 12px);
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-image: url("../img/select.svg");
}

input::placeholder {
  font-family: Roboto;
  font-size: 16px;
}

.form-text {
  font-size: 12px;
  line-height: 14px;
  color: #848484;
  align-self: flex-start;
}